@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'LogoFont';
  src: url('/fonts/DancingScript-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'LogoFont';
  src: url('/fonts/DancingScript-Regular.ttf') format('truetype');
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'firstFont';
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
}
.first-font {
  font-family: 'firstFont', sans-serif;
}

@font-face {
  font-family: 'NavFont';
  src: url('/fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
.nav-font {
  font-family: 'NavFont', sans-serif;
}